<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>首页</title>
    <script src="../js/jquery.min.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>-->
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/normalizeBG.css"/>
    <link rel="stylesheet" type="text/css" href="../css/BG.css">
    <link rel="stylesheet" href="../css/stylesBG.css">
    <link rel="stylesheet" type="text/css" href="../css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="../css/nav.css">
    <link type="text/css" rel="stylesheet" href="../css/book.css">

    <style type="text/css">

        .book-image {
            width: 80px;
            height: 100px;
        }

        .search-input__btn {
            display: block;
            line-height: 36px;
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #ddd;
            padding: 0 8px;
            font-size: 14px;
            color: #666;
        }

        .book-h5__cover {
            float: left;
            position: relative;
            width: 80px;
            height: 100px;
            background-color: #eeece9;
            border: 1px solid #f0f0f0;
            border-radius: 1px;
            overflow: hidden;
        }

        .search-input {
            position: relative;
            margin: 5px 20px 5px 42px;
            height: 35px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
        }

        .search-input .search-input__mi {
            background: url(http://image.read.duokan.com/mfsv2/download/s010/p01TjruXIhgt/PP13pEqhpChuay.png) no-repeat center;
            background-size: 16px 16px;
        }
    </style>
</head>

<body>

<div class="ue-bar">
    <div class="ue-bar-warp">
        <div class="ue-bar-logo">
            <a href="#">
                <img src="../img/logo.png" width="51" hegith="20" alt="解忧书屋" title="解忧书屋">
            </a>
        </div>
        <div class="ue-bar-nav">
            <ul>
                <li class="active"><a href="./main.html">
                    <em>首页</em>
                </a></li>
                <li><a href="./custombookList.html">
                    <em>自定义书店</em>
                </a></li>
                <li><a href="http://localhost:3001/">
                    <em>聊天</em>
                </a></li>
                <li ><a href="./leaveWords.html">
                    <em>解忧书信</em>
                </a></li>
                <li><a href="http://localhost:8080/#/admin/articleList">
                    <em>我的博客</em>
                </a></li>
                <li><a href="./mine.html">
                    <em>个人中心</em>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    <div class="fs-slider" id="fs-slider">
        <figure>
            <img src="../image/1.jpg" alt="image01"/>
            <figcaption>
                <h3>Eloquence</h3>
                <p>American apparel flexitarian put a bird on it, mixtape typewriter irony aesthetic. </p>
            </figcaption>
        </figure>

        <figure>
            <img src="../image/2.jpg" alt="image02"/>
            <figcaption>
                <h3>Quintessential</h3>
                <p>Cardigan craft beer mixtape, skateboard forage fixie truffaut messenger bag. </p>
            </figcaption>
        </figure>

        <figure>
            <img src="../image/3.jpg" alt="image03"/>
            <figcaption>
                <h3>Surreptitious</h3>
                <p>Truffaut iphone flexitarian, banh mi thundercats cliche wolf biodiesel gastropub. </p>
            </figcaption>
        </figure>

        <figure>
            <img src="../image/4.jpg" alt="image04"/>
            <figcaption>
                <h3>Imbroglio</h3>
                <p>Scenester fixie pickled, shoreditch fugiat enim craft beer retro mustache.</p>
            </figcaption>
        </figure>

        <figure>
            <img src="../image/5.jpg" alt="image05"/>
            <figcaption>
                <h3>Lissome</h3>
                <p>Aute sunt aliqua do sapiente. Food truck ut sustainable thundercats four loko.</p>
            </figcaption>
        </figure>
    </div><!-- /fs-slider -->
</div>

<script type="text/javascript" src="../js/jquery.imgslider.js"></script>
<script type="text/javascript">
    $(function () {
        $('#fs-slider').imgslider();
    });
</script>

<div id="bookInfo" style="display: none">
    <div class="">
        <section class="main-card" style="border-bottom:none">
            <div class="u-book -detail">
                <div class="book-cover">
                    <img id="bookInfo_img">
                </div>
                <div class="group-form">
                    <h5 class="title" id="bookInfo_title">书名:</h5>
                    <p class="author">
                    <h4 class="author" id="bookInfo_press">出版社:</h4>
                    </p>
                    <h4 class="price" id="bookInfo_price">价格:</h4>
                    <h4 id="bookInfo_description">描述</h4>

                </div>
            </div>
        </section>

        <section class="main-card">
            <div class="u-title">
                <h1>店主的其他图书</h1>
            </div>
            <div class="cnt">
                <ul class="book-table">
                    <li v-for="book in author_books">
                        <div class="u-book -vertical">
                            <div class="book-cover">
                                <img title="{{ book.title }}" @src="book.cover">
                            </div>
                            <div class="info">
                                <h3 class="title">{{ book.title }}</h3>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </div>
</div>

<script>

    var showBookInfo = function (book) {
        console.log(book.bookName);
        document.getElementById("bookInfo_img").src = book.bookImag;
        // var bookInfo_title_str = $("#bookInfo_title").val() + book.bookName;
        document.getElementById("bookInfo_title").innerHTML = "书名:" + book.bookName;

        // var bookInfo_press_str = $("#bookInfo_press").val() + item.bookPress;
        document.getElementById("bookInfo_press").innerHTML = "出版社:" + book.bookPress;
        document.getElementById("bookInfo_price").innerHTML = "价格:" + book.price;
        document.getElementById("bookInfo_description").innerHTML = "出版社:" + book.bookDescription;

    }
</script>


<div id="app" class="container body-content">

    <div class="search">

        <div class="top">
            <a href="javascript:history.back()" class="top__back"></a>
            <div id="search-input" class="search-input"><b class="search-input__mi"></b>
                <input type="text" class="form-control" value="" id="search_box" placeholder="输入书名">
                <button class="search-input__btn" @click="doSearch">搜索</button>
            </div>
        </div>
    </div>
    <div class="form-group">


        <div id="custom_book_list">


            <ul class="list-group">
                <li class="list-group-item" id="book-list-item" v-for="(item,index) in bookList" :key="index">
                    <!-- :item="item"
                     :index="index"-->
                    s
                    <div class="book-h5" @click="getOneBookInfo(item)">
                        <div class="book-h5__cover">
                            <img class="book-image" alt="{{ item.bookName }}" :src="item.bookImage">
                        </div>
                        <div class="">
                            <span id="bookId" hidden>{{item.bookId}}</span>
                            <label>书名</label>
                            <span class="">{{item.bookName}}</span><br>
                            <label>出版社</label>
                            <span class="">{{ item.bookPress }}</span><br>
                            <label>价格</label>
                            <span class="">{{ item.price }}</span><br>
                            <label>描述</label>
                            <span class="">{{item.bookDescription }}</span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <footer>
            <p>&copy; 2018 - 罗卓群</p>
        </footer>
    </div>


</div>


<script>
    //只能输入正整数过滤器
    Vue.filter('onlyNumeric', {
        // model -> view
        // 在更新 `<input>` 元素之前格式化值
        read: function (val) {
            return val;
        },
        // view -> model
        // 在写回数据之前格式化值
        write: function (val, oldVal) {
            var number = +val.replace(/[^\d]/g, '')
            return isNaN(number) ? 1 : parseFloat(number.toFixed(2))
        }
    });
    //模拟获取数据
    var getData = function () {
        var result = [];
        for (var i = 0; i < 500; i++) {
            result[i] = {name: 'test' + i, id: i, age: (Math.random() * 100).toFixed()};
        }
        return result;
    }

    var vue = new Vue({
        el: "#app",
        ready: function () {
            this.arrayDataAll = getData();
            this.totalCount = this.arrayDataAll.length;
        },


        data: {
            bookList: [],
            totalCount: 10,
            //分页大小
            pageSize: 5,
        },
        methods: {
            doSearch: function () {
                $.ajax({
                    type: 'POST',
                    url: "http://127.0.0.1:8081/book/getBooksBySearchKey",
                    data: JSON.stringify({data: $("#search_box").val()}),
                    dataType: "JSON",
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        vue.bookList = data;
                        vue.totalCount = data.length;
                        vue.pageSize = data.length / vue.pageSize + 1
                    },
                    error: function (jqXHR) {
                        return "哎呀呀，出错了" + jqXHR.status;
                    }
                });
            },

            getOneBookInfo: function (item) {
                var book = item;
                showBookInfo(book);
                document.getElementById("bookInfo").style.display = "";
                document.getElementById("app").style.display = "none";

            },
        }
    })
    vue.$watch("arrayData", function (value) {
        console.log("==============arrayData begin==============");
        console.log(value == vue.arrayData);
        console.log(vue.arrayData);
        console.log("==============arrayData end==============");
    })
</script>
<script type="text/javascript" src="../js/bubbly-bg.js"></script>
<script type="text/javascript">
    bubbly();
    let configs = [
        {},
        {
            colorStart: "#111",
            colorStop: "#422",
            bubbleFunc: () = > `hsla(0, 100%, 50%, ${Math.random() * 0.25})`
    },
    {
        colorStart: "#4c004c",
            colorStop
    :
        "#1a001a",
            bubbleFunc
    :
        () =
    >
        `hsla(${Math.random() * 360}, 100%, 50%, ${Math.random() * 0.25})`
    }
    ,
    {
        colorStart: "#fff4e6",
            colorStop
    :
        "#ffe9e4",
            blur
    :
        1,
            compose
    :
        "source-over",
            bubbleFunc
    :
        () =
    >
        `hsla(${Math.random() * 50}, 100%, 50%, .3)`
    }
    ]
    ;
    document.addEventListener("click", function (e) {
        if (e.target.hasAttribute("data-config-nr")) {
            document.body.removeChild(document.querySelector("canvas"));
            bubbly(configs[e.target.getAttribute("data-config-nr")]);
        }
    });

    (function () {

        function init() {
            var speed = 250,
                easing = mina.easeinout;

            [].slice.call(document.querySelectorAll('#grid > a')).forEach(function (el) {
                var s = Snap(el.querySelector('svg')), path = s.select('path'),
                    pathConfig = {
                        from: path.attr('d'),
                        to: el.getAttribute('data-path-hover')
                    };

                el.addEventListener('mouseenter', function () {
                    path.animate({'path': pathConfig.to}, speed, easing);
                });

                el.addEventListener('mouseleave', function () {
                    path.animate({'path': pathConfig.from}, speed, easing);
                });
            });
        }

        init();

    })();
</script>
</body>
</html>
