<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Test</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/nav.css">
    <style type="text/css">
        .search-input__btn {
            display: block;
            line-height: 36px;
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #ddd;
            padding: 0 8px;
            font-size: 14px;
            color: #666;
        }
        .book-h5__cover {
            float: left;
            position: relative;
            width: 85px;
            height: 113px;
            background-color: #eeece9;
            border: 1px solid #f0f0f0;
            border-radius: 1px;
            overflow: hidden;
        }
        .search-input {
            position: relative;
            margin: 5px 20px 5px 42px;
            height: 35px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
        }
        .search-input .search-input__mi {
            background: url(http://image.read.duokan.com/mfsv2/download/s010/p01TjruXIhgt/PP13pEqhpChuay.png) no-repeat center;
            background-size: 16px 16px;
        }
    </style>
</head>
<body>
<div class="ue-bar">
    <div class="ue-bar-warp">
        <div class="ue-bar-logo">
            <a href="#">
                <img src="../img/logo.png" width="51" hegith="20" alt="解忧书屋" title="解忧书屋">
            </a>
        </div>
        <div class="ue-bar-nav">
            <ul>
                <li class="active"><a href="#">
                    <em>首页</em>
                </a></li>
                <li><a href="#">
                    <em>自定义书店</em>
                </a></li>
                <li><a href="#">
                    <em>聊天</em>
                </a></li>
                <li><a href="#">
                    <em>个人中心</em>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <div id="app" class="form-group">
            <div class="search">

                <div class="top">
                    <a href="javascript:history.back()" class="top__back"></a>
                    <div id="search-input" class="search-input"><b class="search-input__mi"></b>
                        <input type="text" class="form-control" value="" id="search_box" placeholder="输入书名">
                        <button class="search-input__btn" id = "doSearch">搜索</button>
                    </div>
                </div>
            </div>


                <div id="custom_book_list" >


                    <ul class="list-group">
                        <li class="list-group-item" id="book-list-item" v-for="(item,index) in bookList" :key="index">
                            <!-- :item="item"
                             :index="index"-->

                            <div class="book-h5">
                                <div class="book-h5__cover">
                                    <img alt="{{ item.bookName }}" src={{item.bookImage}}>
                                </div>
                                <div class="bookInfo-list-item">
                                    <span id="bookId">{{item.bookId
                                        }}</span>
                                    <label>书名</label>
                                    <p class="show_bookName">{{item.bookName}}</p>
                                    <label>出版社</label>
                                    <p class="show_publication">{{ item.bookPress }}</p>
                                    <label>价格</label>
                                    <p class="show_price">{{ item.price }}</p>
                                    <label>描述</label>
                                    <p class="show_bookDescription">{{item.bookDescription }}</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>


            <div class="page-header">分页</div>
            <div class="pager" id="pager">
                    <span class="form-inline">
                        <select class="form-control" v-model="pagesize" v-on:change="showPage(pageCurrent,$event,true)"
                                number>
                            <option v-for="item in arrPageSize" value="{{item}}">{{item}}</option>
                        </select>
                    </span>
                <template v-for="item in pageCount+1">
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(1,$event)">
                            首页
                        </span>
                    <span v-if="item==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1,$event)">
                            上一页
                        </span>
                    <span v-if="item==1" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                    <span v-if="item==1&&item<showPagesStart-1" class="btn btn-default disabled">
                            ...
                        </span>
                    <span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount"
                          class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                    <span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">
                            ...
                        </span>
                    <span v-if="item==pageCount&&item!=1" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                    <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1,$event)">
                            下一页
                        </span>
                    <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCount,$event)">
                            尾页
                        </span>
                </template>
                <span class="form-inline">
                        <input class="pageIndex form-control" style="width:60px;text-align:center" type="text"
                               v-model="pageCurrent | onlyNumeric"
                               v-on:keyup.enter="showPage(pageCurrent,$event,true)"/>
                    </span>
                <span>{{pageCurrent}}/{{pageCount}}</span>
            </div>
    </div>
    <hr/>
    <footer>
        <p>&copy; 2018 - 罗卓群</p>
    </footer>
</div>


<script>
    //只能输入正整数过滤器
    Vue.filter('onlyNumeric', {
        // model -> view
        // 在更新 `<input>` 元素之前格式化值
        read: function (val) {
            return val;
        },
        // view -> model
        // 在写回数据之前格式化值
        write: function (val, oldVal) {
            var number = +val.replace(/[^\d]/g, '')
            return isNaN(number) ? 1 : parseFloat(number.toFixed(2))
        }
    })
    //模拟获取数据
    var getData = function () {
        var result = [];
        for (var i = 0; i < 500; i++) {
            result[i] = {name: 'test' + i, id: i, age: (Math.random() * 100).toFixed()};
        }
        return result;
    }

    var vue = new Vue({
        el: "#app",
        ready: function () {
            this.arrayDataAll = getData();
            this.totalCount = this.arrayDataAll.length;
            this.showPage(this.pageCurrent, null, true);
        },

       

    data: {
        bookList: "",
            totalCount:6,
            //分页数
            arrPageSize: [10, 20, 30, 40],
            //当前分页数
            pageCount: 20,
            //当前页面
            pageCurrent: 1,
            //分页大小
            pagesize: 10,
            //显示分页按钮数
            showPages: 11,
            //开始显示的分页按钮
            showPagesStart: 1,
            //结束显示的分页按钮
            showPageEnd: 100,
            //所有数据
            arrayDataAll: [],
            //分页数据
            arrayData: [],
            //排序字段
            sortparam: "",
            //排序方式
            sorttype: 1,


        },
        methods: {

            //分页方法
            showPage: function (pageIndex, $event, forceRefresh) {

                if (pageIndex > 0) {


                    if (pageIndex > this.pageCount) {
                        pageIndex = this.pageCount;
                    }

                    //判断数据是否需要更新
                    var currentPageCount = Math.ceil(this.totalCount / this.pagesize);
                    if (currentPageCount != this.pageCount) {
                        pageIndex = 1;
                        this.pageCount = currentPageCount;
                    }
                    else if (this.pageCurrent == pageIndex && currentPageCount == this.pageCount && typeof (forceRefresh) == "undefined") {
                        console.log("not refresh");
                        return;
                    }

                    //处理分页点中样式
                    var buttons = $("#pager").find("span");
                    for (var i = 0; i < buttons.length; i++) {
                        if (buttons.eq(i).html() != pageIndex) {
                            buttons.eq(i).removeClass("active");
                        }
                        else {
                            buttons.eq(i).addClass("active");
                        }
                    }

                    //从所有数据中去分页数据
                    var newPageInfo = [];
                    for (var i = 0; i < this.pagesize; i++) {
                        var index = i + (pageIndex - 1) * this.pagesize;
                        if (index > this.totalCount - 1) break;
                        newPageInfo[newPageInfo.length] = this.arrayDataAll[index];
                    }
                    this.pageCurrent = pageIndex;
                    this.arrayData = newPageInfo;

                    //计算分页按钮数据
                    if (this.pageCount > this.showPages) {
                        if (pageIndex <= (this.showPages - 1) / 2) {
                            this.showPagesStart = 1;
                            this.showPageEnd = this.showPages - 1;
                            console.log("showPage1")
                        }
                        else if (pageIndex >= this.pageCount - (this.showPages - 3) / 2) {
                            this.showPagesStart = this.pageCount - this.showPages + 2;
                            this.showPageEnd = this.pageCount;
                            console.log("showPage2")
                        }
                        else {
                            console.log("showPage3")
                            this.showPagesStart = pageIndex - (this.showPages - 3) / 2;
                            this.showPageEnd = pageIndex + (this.showPages - 3) / 2;
                        }
                    }
                    console.log("showPagesStart:" + this.showPagesStart + ",showPageEnd:" + this.showPageEnd + ",pageIndex:" + pageIndex);
                }

            }
        }
    });
   /* vue.$watch("arrayData", function (value) {
        //console.log("==============arrayData begin==============");
        //console.log(value==vue.arrayData);
        //console.log(vue.arrayData);
        //console.log("==============arrayData end==============");
    });*/

    $("#doSearch").click(function(){
        $.ajax({
            type:'POST',
            url: "http://127.0.0.1:8081/book/getBooksBySearchKey",
            data:JSON.stringify({data : $("#search_box").val()}) ,
            dataType:"JSON",
            contentType: 'application/json;charset=utf-8',
            success:function (data) {
                vue.bookList = data
            },
            error: function (jqXHR) {
                return "哎呀呀，出错了" + jqXHR.status;
            }
        });
    });

</script>
</body>
</html>
